* {
    box-sizing: border-box;
}

.clock {
    font-size: 4vw;
    padding: 0 0.5vw;
    color: #FFF;
    width: 10%;
    margin-left: 1vw;
    font-weight: bold;
    border-radius: 5px;
    width: 39%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .clock {
        width: 44%;
    }
}

@media (max-width: 450px) {
    .clock {
        width: 100%;
        font-size: 10vw;
        margin-bottom: 4vw;
    }
}