* {
    box-sizing: border-box;
}

.forecast {
    display: flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 1vw 2vw;
    width: 100%;
    justify-content: space-between;
}

.day, .temp-val {
    font-size: 1.3vw;
    text-transform: uppercase;
}

.day {
    font-size: 0.9vw;
}

.forecast-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.forecast-temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast-icon {
    width: 100%;
    height: auto;
}

@media (max-width: 1024px) {
    .day {
        font-size: 1.7vw;
    }

    .temp-val {
        font-size: 2vw;
    }
}


@media (max-width: 450px) {
    .forecast {
        flex-direction: column;
    }

    .forecast-info {
        padding: 5vw 0;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        margin-bottom: 4vw;
    }

    .forecast-icon {
        width: 100%;
        height: auto;
    }

    .day {
        font-size: 5vw;
    }

    .temp-val {
        font-size: 5vw;
    }

    .forecast-info:nth-child(4), .forecast-info:nth-child(5) {
        display: none;
    }
}