.city-country {
    font-size: 3vw;
    text-transform: uppercase;
    color: #fff;
  }

  @media(max-width: 768px) {
    .city-country {
      font-size: 4vw;
    }
  }

  
  @media(max-width: 450px) {
    .city-country {
      font-size: 7vw;
      text-align: justify;
    }
  }