* {
    box-sizing: border-box;
}

.map-section {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 30%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.mapContainer {
    width: 100%;
    height: 85%;
    border-radius: 5px 5px 0 0;
}

.map-coords {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 5px 5px;
    height: 15%;
    padding: 0.5vw;
}

.prop {
    line-height: 1.5;
    font-size: 1vw;
}

.mapboxgl-control-container {
    display: none;
  }

  @media (max-width: 1024px) {
    .map-section {
        margin-top: 5vw;
        width: 80%;
        height: 40vw;
    }

    .prop {
        font-size: 1.5vw;
    }
  }

  @media (max-width: 768px) {
    .map-section {
      width: 100%;
      height: 50vw;
    }

    .prop {
        font-size: 2vw;
    }
  }

  @media (max-width: 450px) {
      .map-section {
          height: 150vw;
      }

      .prop {
        font-size: 5vw;
    }

      .map-coords {
        padding: 3vw 2vw;
    }
  }