* {
    box-sizing: border-box;
}

.map-section {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 30%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.mapContainer {
    width: 100%;
    height: 85%;
    border-radius: 5px 5px 0 0;
}

.map-coords {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 5px 5px;
    height: 15%;
    padding: 0.5vw;
}

.prop {
    line-height: 1.5;
    font-size: 1vw;
}