.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: rgb(181,181,181);
    background: linear-gradient(0deg, rgba(181,181,181,1) 21%, rgba(228,228,228,1) 49%, rgba(85,85,85,1) 100%);
}

.preloader-box {
    font-size: 2vw;
    color: white;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 20vw;
    border-radius: 5px;
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.2);
}

.preloader-image {
    background-image: url('C:/Users/Olga/Desktop/fancy weather/react simple example/weather-react/src/assets/images/loader.png');
    width: 5vw;
    height: 5vw;
    margin-top: 1vw;
    background-size: contain;
    animation: 1s spinner infinite linear;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}

.preloader-fade-out {
    animation: .5s fade linear;
}

@keyframes fade {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}
