.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: rgb(181,181,181);
    background: linear-gradient(0deg, rgba(181,181,181,1) 21%, rgba(228,228,228,1) 49%, rgba(85,85,85,1) 100%);
}

.preloader-box {
    font-size: 2vw;
    color: white;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 20vw;
    border-radius: 5px;
    padding: 1vw;
}

.preloader-image {
    background-image: url('C:/Users/Olga/Desktop/fancy weather/react simple example/weather-react/src/assets/images/loader.png');
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 2vw rgba(0, 77, 100, 0.5));
    width: 15vw;
    height: 15vw;
    margin-top: 1vw;
    background-size: contain;
    animation: 3s spinner infinite linear;
}

@keyframes spinner {
    from {
        transform: rotateY(0);
    } to {
        transform: rotateY(360deg);
    }
}

.preloader-fade-out {
    animation: .5s fade linear;
}

@keyframes fade {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .preloader-image {
        width: 20vw;
        height: 20vw;
    }
}

@media (max-width: 450px) {
    .preloader-image {
        width: 40vw;
        height: 40vw;
    }
}