* {
    box-sizing: border-box;
}

.weather-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1vw;
}

.current-temp {
    width: 39%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-temp {
    color: #fff;
    font-size: 10vw;
    font-size: bold;
}

.current-icon {
    width: 19%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.weather-icon {
    width: 100%;
    height: auto;
}

.mobile-icon {
    position: absolute;
    display: none;
}

.current-description {
    width: 39%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.description-list {
    width: max-content;
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5vw;
}

@media (max-width: 1024px) {
    .main-temp {
        font-size: 16vw;
    }
}

@media (max-width: 768px) {
    .main-temp {
        font-size: 20vw;
    }

    .description-list {
        font-size: 2.5vw;
    }
}

@media (max-width: 450px) {
    .current-temp {
        width: 100%;
        margin-bottom: 4vw;
        position: relative;
        overflow: hidden;
    }

    .main-temp {
        font-size: 50vw;
        z-index: 1;
    }

    .weather-area {
        flex-direction: column;
        align-items: center;
    }

    .current-icon {
        display: none;
    }

    .mobile-icon {
        display: block;
        opacity: .4;
        left: 50%;
    }

    .current-description {
        width: 100%;
        margin-bottom: 4vw;
    }

    .description-list {
        padding: 5vw 0;
        font-size: 6vw;
    }
}