.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0008;
  z-index: 5;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.outer-circle {
  margin-bottom: 5vw;
}

.outer-circle, .middle-circle, .inner-circle {
  width: 10vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  animation-direction: alternate;
}

.middle-circle {
  width: 8vw;
  height: 8vw;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  animation-direction: reverse;
}

.loading {
  font-size: 20px;
}

.inner-circle {
  width: 6vw;
  height: 6vw;
}

@keyframes spin {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}
