* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.App {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  transition: .4s ease-in-out;
}

.weather-wrapper {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65));
  padding: 25px;
}

.main-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  width: 100%;
  padding: 0 5vw;
  justify-content: space-between;
}

.weather-section {
  display: flex;
  width: 100%;
  margin-top: 5vw;
  padding: 0 5vw;
  justify-content: space-between;
}

.weather-block {
  background-color: rgba(255, 255, 255, 0.2);
  width: 60%;
  padding: 1vw;
  border-radius: 5px;
}

.weather-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vw;
}

@media (max-width: 1024px) {
  .weather-section {
    margin-top: 7vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .weather-block {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .weather-section {
    margin-top: 5vw;
  }

  .weather-block {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .weather-wrapper {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .weather-section {
    padding: 0;
  }

  .weather-header {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
